body {
    font-family: 'IBM Plex Mono', monospace;
}

h1 {
    text-align: center;
    padding-bottom: 1em;
}

article {
    width: 36em; 
    display: block;
    margin: 0 auto; 
    max-width: 100%;
    line-height: 1.5;
    font-size: 18px;
}

.container{
    width: 100%;
    text-align: center;
}

a:hover {
    color: #41FF00;
}

@media only screen and (max-width: 320px) {
    article {
        font-size: 16px;
    }
}